@import "reset.css";
@import "grid";

body {
  background: #1a2432;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #f6f7f9;
}

p, h3, li {
  margin: 12px 0;
  font-size: 13px;
}

.c-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.c-footer {
  padding: 110px 0;
  &__heading {
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__list-wrapper {
    margin: 0 -15px;
  }
  &__list-heading {
    font-weight: 600;
    margin: 25px 0 30px;
  }
  &__paragraph {
    line-height: 1.7;
    color: #d9dbdf;
    &--smaller {
      font-size: 12px;
      max-width: 340px;
    }
    &--darder {
      color: #405063;
    }
  }
  &__list-el {
    color: #d9dbdf;
  }
  &__input-wrapper {
    max-width: 470px;
    width: 100%;
    padding-left: 30px;
    float: right;
  }
  @media screen and (max-width: 800px) {
    padding: 20px 0;
    &__list-wrapper {
      .column {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    &__input-wrapper {
      margin-top: -20px;
      padding-left: 0;
      float: none;
    }
    &__list-heading {
      margin: 5px 0;
    }
  }
}

.c-input-group {
  margin: 15px 0 10px;
  display: flex;
  .o-field:first-child .c-field {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .c-button {
    border-radius: 0;
  }
  .c-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.o-field {
  flex: 1;
  padding-right: 25px;
}

.c-field {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1em;
  border: 1px solid #fff;
  outline: 0;
  background-color: #fff;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  resize: vertical;
  -webkit-appearance: none;
}

.c-button {
  border: 1px solid transparent;
  background-color: #82c99c;
  color: #fff;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-radius: 2px;
  outline: 0;
  font-family: inherit;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
  appearance: none;
  user-select: none;
  &--with-icon {
    padding: 2px 22px;
    display: flex;
    &:hover,
    &:focus,
    &:active {
      background-color: #4caf50;
    }
    img {
      width: 24px;
    }
  }
}